/*  global roles */
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: "Work sans", sans-serif;
}

/* End global roles */
.parent{
    background-color: #eee;

}
.container{
    margin-left:  auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


/* fixed code for responsiv */
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
/* -------------------------- */

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.header{
    padding: 20px;
} 

.header .container .links{
    position: relative;
}
.container .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    height: 30px;
    justify-content: flex-end;
}
.container .links .icon span{
    height: 3px;
    background-color: black;
    margin-bottom: 5px;
}
.container .links:hover .icon span:nth-child(2){
    width: 100%;
}
.container .links .icon span:first-child{
    height: 3px;
    width: 100%;
}
.container .links .icon span:nth-child(2){
    height: 3px;
    width: 70%;
    transition-duration: 0.3s;
}
.container .links .icon span:last-child{
    height: 3px;
    width: 100%;
}

.container .links ul{
    list-style: none;
    background-color: #eee;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 10px);
    display: none;
}
.container .links ul::before{
    content: "";
    border: solid 10px;
    border-color: transparent transparent #eee transparent;
    position: absolute;
    right: 0;
    top: -20px;
}
.container .links:hover ul{
    display: block;
}
.container .links ul li a{
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.container .links ul li a:hover{
    padding-left: 25px;
    color: red;
}
.container .links ul li:not(:last-child) a{
    border-bottom: 1px solid black;
}
/* ---------End header--- */
:root{
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-color: #f6f6f6;
}

.landing{
    background-image: url('../img/landing.jpg');
    background-size: cover;
    height: calc(100vh - 90px);
    text-align: center;
    position: relative;
    z-index: -1;
}
.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.landing .intro-text h1{
    margin: 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: 40px;
}
.landing .intro-text p{
    margin: 0;
    font-size: 19px;
    line-height: 1.8;
}



/* add features */
 .feature{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--section-color);

 }
 .feature .container{
    display: grid;

    /* Very important line for responsive */
    grid-template-columns: repeat(auto-fill ,minmax(300px,1fr));
    grid-gap: 20px;
 }
 .feature .feat{
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 5px -3px black;
    
 }
 .feature .feat i{
    color: var(--main-color);
    font-size: 50px;
 }
 .feature .feat h3{
    font-weight: 800;
    margin: 30px 0;
 }
 .feature .feat p{
    line-height: 1.8;
    color: #777;
    font-size: 17px;
 }
/* end features */


/* global component */
.special-heading{
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    letter-spacing: -3px;
    margin: 0;
}
.special-heading + p {
    margin: -30px 0 0;
    text-align: center;
    font-size: 20px;
    color: #7979;
}
@media (max-width: 767px){
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p {
        font-size: 15px;
        margin-top: -20px;
    }
}
/* Start services */
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .services-content{
    margin-top: 100px ;
    display: grid;
    grid-template-columns: repeat(auto-fill ,minmax(300px ,1fr));
    gap: 30px;
}
.services .services-content .srv{
    display: flex;
    margin-top: 50px;
}
@media (max-width:767px) {
    .services .services-content .srv{
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .col .image{

    text-align: center;
    position: relative;
    border-right: var(--secondary-color) 40px solid;

}
.services .services-content .col .image::after{
    content: "";
    position: absolute;
    width: 49%;
    height: 40px;
    background-color: var(--secondary-color);
    top: -40px;
    right: -40px;
}
.services .services-content .col .image::before{
    content: "";
    position: absolute;
    width: 49%;
    height: 40px;
    background-color: var(--secondary-color);
    bottom: -36px;
    right: -40px;
}
@media (max-width:1199px){
    img {
        border-style: none;
        margin-bottom: -4px;
        padding: -4px;
      }
    .services .services-content .col .image{

        text-align: center;
        position: relative;
        border-right: none;
        border-bottom: var(--secondary-color) 35px solid;
    
    }
    .services .services-content .col .image::after{
        content: "";
        position: absolute;
        width: 45px;
        height: 80px;
        background-color: var(--secondary-color);
        top: calc(100% - 45px);
        left: -45px;
    }
    .services .services-content .col .image::before{
        content: "";
        position: absolute;
        width: 45px;
        height: 80px;
        background-color: var(--secondary-color);
        top: calc(100% - 45px);
        right: -45px;
    }
}
@media (max-width:1199px){
    .image-column{
        display: none;
    }
}
@media (max-width:400px){
    .services .services-content .col .image{
        width: 271px;
        overflow: hidden;
        height: 355px;
    }
    .services .services-content .col .image img{
        width: 200px;
    }
}
.services .services-content .col .image img{
    width: 290px;
    height: 400px;
}
.services .services-content .col:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
}
.services .services-content .srv i{
    font-size: 40px;
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .srv .text{
    flex: 1;
}
.services .services-content .srv .text h3{
    margin-top: 0%;
}
.services .services-content .srv .text p{
    color: #777;
    font-weight: 300;
    line-height: 1.8;
}
/* end services */

/* start portfolio */
.portfolio{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-color);
}
.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 20px;
    margin-top: 80px;
}
.portfolio .portfolio-content .card{
    background-color: white;
    margin-right: 10px ;
}
.portfolio .portfolio-content .card img{
    width: 100%;
}
.portfolio .portfolio-content .card .info{
    padding: 10px;

}
.portfolio .portfolio-content .card .info h3{
    margin: 0;
}
.portfolio .portfolio-content .card .info p{
    line-height: 1.8;
    color: var(--secondary-color);
    margin-bottom: 0;
}
/* end portfolio */

/* start about */
.about{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);

}
.about .about-content{
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about .about-content .image{
    position: relative;
    width: 250px;
    height: 375px;
}
.about .about-content .image img{
    width: 250px;
    height: 375px;
}
.about .about-content .image::before{
    content: "";
    width: 100px;
    height: calc(50% + 100px);
    background-color: var(--secondary-color);
    position: absolute;
    top: -50px;
    right: -45px;
    z-index: -1;
}
.about .about-content .image::after{
    content: "";
    width: 200px;
    height: 80px;
    background-color: var(--secondary-color);
    position: absolute;
    top: 158px;
    right: -150px;
    z-index: -1;
}
@media(max-width:991px){
    .about .about-content .image::after,
    .about .about-content .image::before{
        display: none;
    }
}
@media(max-width:991px){
    .about .about-content .image{
        margin: 0 auto;
    }
}
@media(max-width:991px){
    .about .about-content{
        flex-direction: column;
        text-align: center;
    }
    .about .about-content .text{
        margin-top: 20px;
    }
}
.about .about-content .text{
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type{
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 50px;
}
.about .about-content .text hr{
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);

}
.about .about-content .text p:last-of-type{
    line-height: 1.6;
    color: #777;

}
/* end about */